<body id="home">

<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<div class="hero-unit">
				<section>
					<%= render 'shared/user_info' %>
				</section>
				<section>
					<%= render 'shared/stats' %>
				</section>
				<section>
					<%= render 'shared/post_form' %>
				</section>
			</div>
		</aside>
		<div class="span8">
			<h3>Log Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	
	<div class="front">
		<!-- <%= link_to image_tag("under-construction.png", alt: ""), 'https://twitter.com/auburn_research' %> -->
		<br><br>
		<div class="hero-unit">


			<table>
				<th colspan="3">Computer Science & Engineering Research<br><br></th>
				<tr>
					<td><%= link_to image_tag("temporary_home.png", alt: ""), 'https://instagram.com/auburn_avenue_research/' %><td>
					<td>The Auburn Avenue Research Company is a technology sub-community that exists to innovate, educate, and empower business in under-represented markets & demographics in computer science, engineering, and technology.</td>
				</tr>

				<tr>

					<td colspan="3">
					<br>
					<br>
					<%= link_to image_tag("instagram.png", alt: ""), 'https://instagram.com/auburn_research/' %>
						
					<%= link_to image_tag("twitter.png", alt: "Auburn Avenue Research"), 'https://twitter.com/auburn_research' %>
					<%= link_to image_tag("youtube.png", alt: "Research TV"), 'https://www.youtube.com/channel/UCo2Edw7R1cS2rdd7-Dyr4ag' %>
					<%= link_to image_tag("tumblr.png", alt: "t"), 'http://auburn-avenue-research.tumblr.com/' %>
					<%= link_to image_tag("reddit.png", alt: "t"), 'http://www.reddit.com/user/auburn_ave_research/' %>
					<%= link_to image_tag("google+.png", alt: "t"), 'https://plus.google.com/u/2/109682673784615830155/posts' %>
					</td>
				</tr>
			
				</table>

		</div>

			<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

	</div>

	
<% end %>

<a href="https://plus.google.com/104315039161671574114" rel="publisher"></a>
</body>