<body id="home">

<% if signed_in? %>
	<div class="row">

		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/post_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Log Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	
	<div class="front">
		<div class="hero-unit">


			<%= link_to image_tag("temp_home.png", alt: ""), 'https://instagram.com/auburn_avenue_research/' %><br>
		</div>



		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
	
<% end %>
</body>