<% provide(:title, 'team') %>

<h1>Research Team</h1>
<br>
<br>
<div>


	<table celllpadding="50">
		<tr >
			<td align="center"><%= link_to image_tag("rbl.png", alt: "belozi"), 'https://twitter.com/belozi' %><br>
			<b>Robert Belozi Lee,</b><br><i> Research Director</i><br> 
			<p><a href="mailto:belozi@auburnavenueresearch.com"><b>belozi@auburnavenueresearch.com</b></a><br></p></td>

			<td>
					Robert codes in Python, Ruby, Java, C, and Go, and uses the web development frameworks Ruby on Rails and Django. He is currently researching programming for mobile platforms, Linux System Administration, and computer hardware. The plan is to build a curriculum using tested and proven tools to guide others through the process of learning about programming and computer science to build innovative solutions to business and consumer problems.

			</td>
		<tr>
			<td colspan= "3" align="center">

				<br><%= link_to image_tag("instagram.png", alt: "instagram"), 'https://instagram.com/belozi/' %>
				<%= link_to image_tag("twitter.png", alt: "twitter"), 'https://twitter.com/belozi' %>
				<%= link_to image_tag("youtube.png", alt: "youtube"), 'https://www.youtube.com/channel/UCQTlBu7dqeOzvJrh71u1Lvg' %>
				<%= link_to image_tag("tumblr.png", alt: "t"), 'http://belozi.tumblr.com/' %>
				<%= link_to image_tag("github.png", alt: "github"), 'https://github.com/belozi' %>
				<%= link_to image_tag("linkedin.png", alt: "linkedin"), 'https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile' %>
				<%= link_to image_tag("reddit.png", alt: "reddit"), 'http://www.reddit.com/user/belozi/' %>
				<%= link_to image_tag("blogspot.png", alt: "blogger"), 'http://belozi360.blogspot.com/' %>
			</td>
		</tr>
	</table>
	<br>
	<br>
	<table celllpadding="50">
		<tr >
			<td align="center"><%= link_to image_tag("orc.png", alt: "instagram"), 'https://www.linkedin.com/in/omarrahreidchristie' %><br>
			<b>Omarrah Reid-Christie,</b><br><i> Director of Business Development</i><br> 
			<p><a href="mailto:mara@auburnavenueresearch.com"><b>mara@auburnavenueresearch.com</b></a><br></p></td>

			<td>
				<p>
					Omarrah has a background in Sales, Marketing, and Business Development. She has worked with various multi-national organizations in the US and Mexico throughout her career and is a member of Women Who Code Atlanta.  Her current focus is Python, MySQL, Ruby, the Rails framework, and JavaScript.

				</p>
			</td>
		<tr>
			<td colspan= "3" align="center">

				<br><%= link_to image_tag("instagram.png", alt: ""), 'https://instagram.com/marareid/' %>
				<%= link_to image_tag("twitter.png", alt: "twitter"), 'https://twitter.com/marareid' %>
				<%= link_to image_tag("youtube.png", alt: "youtube"), 'https://www.youtube.com/channel/UCo2Edw7R1cS2rdd7-Dyr4ag' %>
				<%= link_to image_tag("pinterest.png", alt: "t"), 'https://www.google.com/url?q=https%3A%2F%2Fwww.pinterest.com%2Fchillicat007%2F&sa=D&sntz=1&usg=AFQjCNEzBFu3MLrJFezr_CSYrlDjf4lOSQ' %>
				<%= link_to image_tag("github.png", alt: "github"), 'https://github.com/MaraReid' %>
				<%= link_to image_tag("linkedin.png", alt: "linkedin"), 'https://www.linkedin.com/in/omarrahreidchristie' %>
				<%= link_to image_tag("blogspot.png", alt: "blogger"), 'http://marareid180.blogspot.com/' %>
			</td>
		</tr>
	</table>
</div>

	