<% provide(:title, 'Team') %>

<h1>Research Team</h1>


	<ul>
		<li>
			<p><%= link_to image_tag("rbl.png", alt: "belozi"), 'https://twitter.com/belozi' %></p>

			<b>Robert Belozi Lee,</b><i> Programmer & Developer</i> 
			<p><a href="mailto:belozi@auburnavenueresearch.com"><b>belozi@auburnavenueresearch.com</b></a><br></p>
				<p>
					Robert is a programmer and developer with a strong interest in anything involving science, engineering, and design. He holds a bachelor’s degree in Business Administration from Georgia State University's Robinson School of Business in Marketing with elective coursework in digital media and advertisement.
				</p>

				<p>

					Robert programs in Python, Ruby, Java, C, and Go, and the web development frameworks Ruby on Rails and Django. He is currently researching programming for mobile platforms and computer hardware. The plan is to build a curriculum using tested and proven tools to guide others through the process of learning about programming and computer science.</p>

				<p>
				<br><%= link_to image_tag("instagram.png", alt: "instagram"), 'https://instagram.com/belozi/' %>
				<%= link_to image_tag("twitter.png", alt: "twitter"), 'https://twitter.com/belozi' %>
				<%= link_to image_tag("youtube.png", alt: "youtube"), 'https://www.youtube.com/channel/UCQTlBu7dqeOzvJrh71u1Lvg' %>
				<%= link_to image_tag("tumblr.png", alt: "t"), 'http://belozi.tumblr.com/' %>
				<%= link_to image_tag("github.png", alt: "github"), 'https://github.com/belozi' %>
				<%= link_to image_tag("linkedin.png", alt: "linkedin"), 'https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile' %>
			</p>
		</li>

		<br>

		<li>
			<br><p><%= link_to image_tag("orc.png", alt: "instagram"), 'https://www.linkedin.com/in/omarrahreidchristie' %></p>

			<b>Omarrah Reid-Christie,</b><i> Programmer & Developer</i>
			<p><a href="mailto:mara@auburnavenueresearch.com"><b>mara@auburnavenueresearch.com</a></b><br></p>
				<p>
					Omarrah has a background in Marketing, Sales and Business Development, and has worked with various multi-national organizations in the US and Mexico throughout her career.  Omarrah is a graduate of the Global Partners MBA program, which is an International dual degree program with residency studies in Atlanta, Rio de Janeiro, Paris and various cities in China.  She graduated with an MBA from Robinson School of Business, Georgia State University; an MA from Institut d'Administration des Entreprises de Paris, Université Paris 1 Panthéon Sorbonne; and a Graduate Certificate from COPPEAD Graduate School of Business, Federal University of Rio de Janeiro.
				</p>
				<p>

					Omarrah is a member of Women Who Code Atlanta and is an avid learner.  She is currently learning Python, MySQL, Ruby, the Rails framework, JavaScript and has worked with HTML and CSS.  She brings a passion for problem solving and a customer centric approach to every project. </p>

				</p>
				<br><p>
				<br><%= link_to image_tag("instagram.png", alt: ""), 'https://instagram.com/marareid/' %>
				<%= link_to image_tag("twitter.png", alt: "twitter"), 'https://twitter.com/marareid' %>
				<%= link_to image_tag("youtube.png", alt: "youtube"), 'https://www.youtube.com/channel/UCo2Edw7R1cS2rdd7-Dyr4ag' %>
				<%= link_to image_tag("pinterest.png", alt: "t"), 'https://www.google.com/url?q=https%3A%2F%2Fwww.pinterest.com%2Fchillicat007%2F&sa=D&sntz=1&usg=AFQjCNEzBFu3MLrJFezr_CSYrlDjf4lOSQ' %>
				<%= link_to image_tag("github.png", alt: "t"), 'https://github.com/MaraReid' %>
				<%= link_to image_tag("linkedin.png", alt: "t"), 'https://www.linkedin.com/in/omarrahreidchristie' %>
			</p>
			</p>
		</li>
	</ul>
	
	